<div id="myCalendar">
	{{
		full-calendar 
		events=events 
		eventClick=(action "eventClick") 
		dayClick=(action "dayClick") 
		register-as='accessToFullCalendar'
		defaultView="agendaWeek"
		maxTime = "17:30:00"
		minTime = "09:00:00"
	}}
</div>

{{#if isShowingModal}}
	{{#modal-dialog targetAttachment="center" translucentOverlay=true}}
		<div id="event-dialog">
			{{event-note event=selectedevent closeDialog='closeDialog'}}
		</div>
	{{/modal-dialog}}
{{/if}}